[Desktop Entry]
Version=1.0
Name=coinking
Comment=coinking P2P Cryptocurrency
Comment[fr]=coinking, monnaie virtuelle cryptographique pair à pair
Comment[tr]=coinking, eşten eşe kriptografik sanal para birimi
Exec=coinking-qt %u
Terminal=false
Type=Application
Icon=coinking128
MimeType=x-scheme-handler/coinking;
Categories=Office;Finance;