src/*.exe
src/tkcoin
src/coinking
src/tkcoind
src/coinkingd
src/test_tkcoin
src/test_coinking
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.tkcoin
.coinking

# Compilation and Qt preprocessor part
*.qm
Makefile
tkcoin-qt
coinking-qt
tkcoin-Qt.app
coinking-Qt.app
.qmake.stash
coinking-qt_plugin_import.cpp

# Unit-tests
Makefile.test
tkcoin-qt_test
coinking-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

# mingw / Windows
release/
*.Debug
*.Release

!src/leveldb-*/Makefile
coinking-qt
